*{
  margin:0;
  padding:0; 
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

p{
  font-size:2rem;
}

h1{
  font-size:5rem;
}

h3{
  font-size:2rem;
}

header, footer{
  background-color:darkslategray;
  width:100%;
}

.title{
  display:flex;
  width:100%;
  height:50%;
}

.catch_copy{
  width:70%;
  margin-left:10px;
  color:white;
}

.tel{
  color:white;
}

.top_menu{
  width:100%;
  height:50px;
  list-style: none;
  margin:0 auto;
}

.menu_list{
  display:flex;
  list-style:none;
  justify-content:center;
  color:white;
}

.menu_list a{
  text-decoration:none;
  color:white;
  font-size:2rem;
}

.menu_list a:hover{
  color:blue;
}

.menu_item{
  margin:0 30px;
}

main{
  background-color:#E6FFE9;
}

.top_img{
  width:100%;
  height:500px;
  background-image:url(img/top_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.pet_info, .video, .greeting, .topics, .access, .form{
  margin:50px auto;
  width:80%;
  height:auto;
  background-color:cornsilk;
}

.contents_title, .form_title{
  margin:0 auto;
  text-align:center;
  background-color:darkslategray;
  color:white;
}

.pet_info_main, .access_main{
  display:flex;
  margin:0 auto;
}

.pet_img_field{
  width:20%;
}

.pet_info_main{
  justify-content:space-between;
}

.pet_img{
  width:100%;
  height:auto;
}

.pet_img_text{
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
}

.video_main1, .video_main2{
  display:flex;
  margin:0 auto;
  width:100%;
}

.video_text{
  width:60%;
  height:300px;
}

.video_main1 div:last-child{
  overflow:hidden;
  overflow-y:scroll;
}

.video_main2 p{
  color:red;
  text-decoration:underline;
  font-size:4rem;
  text-align:center;
  line-height:300px;
}

.video_img, .video_youtube{
  width:40%;
}

.topics{
  text-align:center;
}

.access_text{
  width:40%;
  text-align:center;
  margin:30px auto;
  line-height: 3em;
}

.access_text p{
  margin-top:30px;
}

.access_map{
  width:60%;
}

.form_item{
  display:flex;
  margin:10px auto;
  text-align:center;
  align-items:center;
}

.form_item_label{
  width:40%;
}

.form_item_input_field{
  width:60%;
}

.btn_field{
  width:100%;
  text-align:center;
  padding-bottom:10px;
}

.form_item_input{
  width:90%;
}

.form_item_input_textarea{
  width:90%;
  height:100%;
}

.form_btn{
  text-align:center;
}
  
.bottom_menu{
  display:flex;
  width:100%;
  align-items:center;
}

.bottom_menu .menu_list{
  flex-wrap:wrap;
}

.bottom_menu_item{
  padding:2px 3px;
}

.submit_btn{
  width:100px;
  background-color:green;
  color:white;
}

.nav_menu{
  width:90%;
}

.indention{
  width:100%;
}

.copy_right{
  width:100%;
  text-align:center;
  margin-top:10px;
  color:white;
  font-size:2rem;
}

.adjustment_box{
  background-color:#E6FFE9;
  height:30px;
}

iframe {
  aspect-ratio:16/9;
}

.topic_title p{
  margin:5px 0;
}

@media screen and (max-width:1024px){
  .menu_list a{
    font-size:3rem;
  }
  .contents_title h3{
    font-size:2.5rem;
  }

  .top_menu, .tel, .form_field{
    display:none;
  }

  .title{
    align-items:center;
  }

  .catch_copy{
    text-align:center;
  }

  .pet_info, .video, .greeting, .topics, .access, .form{
    width:100%;
  }

  .video_main1 p{
    font-size:5rem;
  }

  .video_main2 p{
    font-size:8rem;
  }

  .greeting{
    height:600px;
    overflow:hidden;
    overflow-y:scroll;
  }

  .pet_info_main{
    display:block;
  }

  .pet_img_field{
    width:100%;
    height:auto;
  }

  .video_main2{
    flex-direction:column-reverse;
  }

  .video_main2 div{
    width:100%;
  }

  .access_main{
    flex-direction:column-reverse;
  }

  .access_main div{
    width:100%;
  }

  .bottom_menu .logo{
    width:80%;
  }
  .menu_list{
    flex-flow:column;
  }

  .copy_right span{
    display:none;
  }

  .text{
    overflow:hidden;
    overflow-x:scroll;
  }

  .topic_title{
    font-size:1.5rem;
    margin:15px auto;
  }

  .access_text{
    line-height:normal;
  }

  .access_text h3{
    font-size:5rem;
  }  

  .access_text p{
    font-size:4rem;
  }

  .bottom_menu{
    font-size:4rem;
    padding:30px auto;
  }

  
}